main {
  width: 30%;
  margin: 30px auto;
  text-align: center;
}
.activity {
  margin: 30px 0;
  padding: 5px;
  border: 1px dotted #000000;
  border-radius: 5px;
}

select,
button {
  width: 100%;
}
